<div class="main-page">
    <div class="header">
        <div [routerLink]="['']">
            Home
        </div>
        <div [routerLink]="['/aboutus']">
            About Us
        </div>
        <div [routerLink]="['/ourservices']">
            Our Services
        </div>
        <div [routerLink]="['/ourcustomers']">
            Our Customers
        </div>
    </div>
    <div class="page-heading">
        About Us
    </div>
    <div class="page-content">
        <div>
            <p>
                We are group 7 : The Akatsukis <br>
                Our Team Members are Dhruv Panchal, Dhwanil Gandhi, Rohit Kumar, Krishna Kanth and Modi Arif.
            </p>

            <p>We are currently pursuing Artificial Intelligence and Machine Learning from Lambton College.</p>
        </div>
        
    </div>
</div>
