<div class="main-page">
    <div class="header">
        <div [routerLink]="['']">
            Home
        </div>
        <div [routerLink]="['/aboutus']">
            About Us
        </div>
        <div [routerLink]="['/ourservices']">
            Our Services
        </div>
        <div [routerLink]="['/ourcustomers']">
            Our Customers
        </div>
    </div>
    <div class="page-heading">
        Our Customers
    </div>
    <div class="page-content">
        <div>
            <p>
              Our customers are all the general students like you and the people of Toronto.<br>
              We also provide weather services to InfyX Inc. 
            </p>
        </div>
        
    </div>
</div>
