<div class="main-page">
    <div class="header">
        <div [routerLink]="['']">
            Home
        </div>
        <div [routerLink]="['/aboutus']">
            About Us
        </div>
        <div [routerLink]="['/ourservices']">
            Our Services
        </div>
        <div [routerLink]="['/ourcustomers']">
            Our Customers
        </div>
    </div>
    <div class="page-heading">
        Our Services
    </div>
   
    <div class="page-content">
        
            <p>
                We Provide services like Current Location, Min and Max Temp, Current Temperature, Humidity, Feels like with Current Date and Time.
                <br> In future we are gonna add more services to our weather app.
            </p>
        
    </div>
</div>
